#TOKEN_TEMP= "EAAMtIaSUTQoBAChMXWFGBzdQOSZC0Owbd2nsw82kN9dxt3yr9kZCRZBjW6xIhqLvPiZANyfFnj8dZBjJdJzWwyZC0qrC0BWt3POMBaa8nPSBIFiz3hGkLB5ZBVoLk4fbRwilPm6hYE5lo9IFyTZAKXq4ijxh3jxvwnuiU4HUR4ZCLZBBkySDnptVv4YqK8nrljEhiryugyrB2h4ni9eppDIopy"
TOKEN = "Aqui va tu token de WhatsApp"
PHONE_NUMBER = "52 numero de telefono a 10 digitos (Para pruebas)"